/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:wght@500&display=swap');

/* base style  */
body{
font-family: 'Poppins', sans-serif;
background-color: #F3F1FF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #FFFFFF;
    height: 679px;
    width: 870px;
    padding: 30px;
    border-radius: 7px;
    margin-top: 21px;
}

/* top players style */
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 30px;

}
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px;
}
/* top blogs stylr  */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 50px;
}
.blog{
    display: flex;
    
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
    
}
.top-blogss{
    display: flex;
}
.blog-title{
    font-size: 20px;
}
.blog-author a{
    text-decoration: none;
    color:#562EFF;
    ;
}

/* Courses */
.containers{
    background-color: #FFFFFF;
    width: 870px;
    height: 362px;
    padding: 30px;
    border-radius: 7px;
    margin-top: 21px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course{
    Width: 252.42px;
    Height: 269.79px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #fbfafa54;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.dur{
    margin-left: 10.71px;
}
.course-duration{
    color: #FF4A60;
    background-color: #FFE4E8;
    border-radius: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Media queries */
/* mobile device */
@media only screen and (max-width:688px) {
    .container, .containers{
        width: 100%;
        height: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
        align-items: center;
    }
    
    .courses{
       justify-content: center;
    }
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){
    .container, .containers{
        width: 100%;
        height: 100%;
    }
   .players, .courses{
    grid-template-columns: repeat(2, 1fr);
   }
   .blogs{
    grid-template-columns: repeat(1, 1fr);
   }
}

